<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= I18n.t('views.user_mailer.hi') %> <%= @user.email %></h1>
    <p>
      <%= I18n.t('views.user_mailer.msg') %>
    </p>
  </body>
</html>