<h2><%= I18n.t('views.devise.unlocks.resend1') %></h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t('views.devise.unlocks.resend1') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
