<%= form_for(@user , html: { method: :post } ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> <%= I18n.t('views.users.usermsg4') %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>  
    </div>
  <% end %>
  <div class="field">
   <div style="display:inline-block;width:200px;"> <%= f.label :email %> </div>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <div style="display:inline-block;width:200px;">  <%= f.label :password %><br /> </div>
     <%= f.password_field :password, autocomplete: "off" %>
  </div>

 <div class="field">
    <div style="display:inline-block;width:200px;"> <%= f.label :password_confirmation %><br /> </div>
   <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <div style="display:inline-block;width:200px;"> <%= f.label :firstname %> </div>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <div style="display:inline-block;width:200px;"> <%= f.label :lastname %> </div>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <div style="display:inline-block;width:200px;"> <%= f.label :role %> </div>
    <%=  f.select(:role,  options_for_select([[ "admin" ,"admin" ], ["staff" , "staff"] , ["student" , "student"]]) ) %>
   
  </div>
  <div class="actions" style="margin-top:70px;margin-left:30%;">
    <%= f.submit I18n.t('views.users.createuser')%>
  </div>
<% end %>
