<p id="notice"><%= notice %></p>

<h1><%= I18n.t('views.users.index.listuser') %></h1>

<table>
  <thead>
    <tr>
      <th><%= link_to I18n.t('views.users.index.email') %></th>
      <th><%= link_to I18n.t('views.users.index.firstname1') %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td> 
        <td><%= user.firstname %></td>         
        <td style="width:20px;"><%= link_to I18n.t('views.edit'), edit_user_path(user) %></td>
        <td style="width:20px;"><%= link_to I18n.t('views.destroy'), user, method: :delete, data: { confirm: I18n.t('views.sure') } %></td>   
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('views.users.newuser'), new_user_path %>
