
		<div style="position:absolute;left:35%;right:30%;top:30%;bottom:30%">
			<h1><%= I18n.t('views.users.newuser') %></h1>

			<%= render 'form' %>
			<div class="spanlink"><%= link_to I18n.t('views.back'), users_path %><div>
		</div>
	
