<p id="notice"><%= notice %></p>

<p>
  <strong><%= link_to I18n.t('views.users.index.email') %>:</strong>
  <%= @user.email %>
</p>

<%= link_to I18n.t('views.edit'), edit_user_path(@user) %> |
<%= link_to I18n.t('views.back'), users_path %>
