<h2><%= I18n.t('views.devise.passwords.changepwd1') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, I18n.t('views.devise.passwords.new') %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> <%= I18n.t('views.devise.minchar') %>)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, I18n.t('views.devise.passwords.confirm') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t('views.devise.passwords.changepwd2') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
