<h2><%= I18n.t('views.devise.passwords.forgot') %>?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t('views.devise.passwords.send') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
