<%= form_for(@library) do |f| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> <%= I18n.t('views.libraries.libmsg4') %>:</h2>

      <ul>
      <% @library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lib_name %><br>
    <%= f.text_field :lib_name %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t('views.libraries.createlibrary') %>
  </div>
<% end %>
