<p id="notice"><%= notice %></p>

<h1><%= I18n.t('views.libraries.index.listlibrary') %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('views.libraries.libname') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.lib_name %></td>
        <td><%= link_to I18n.t('views.show'), library %></td>
        <td><%= link_to I18n.t('views.edit'), edit_library_path(library) %></td>
        <td><%= link_to I18n.t('views.destroy'), library, method: :delete, data: { confirm: I18n.t('views.sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('views.libraries.newlibrary'), new_library_path %>
