  
  
</div>



<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('views.libraries.libname') %>:</strong>
  <%= @library.lib_name %>
</p>

<h2 style="margin-left:5%;"> <%= I18n.t('views.libraries.rooms') %> </h2>
<div id = "comments">
  <% @library.rooms.each do |room| %>
    <%= div_for room do %>
  <p>   
    <%= h(room.id) %>   
    <div class="linksdiv" style="font-color:white"><%= link_to I18n.t('views.edit'), edit_library_room_path(room ,id:room.id) %></div>  
  </p>
<% end %>
  <% end %>
</div>

<div id = "comments">
<%= form_for([@library, Room.new]) do |f| %>
<p> <%= f.label :id, I18n.t('views.rooms.newroom') %> <br />    
</p>
  <p>
    <%= f.label :seating_capacity %><br>
    <%= f.number_field :seating_capacity %>
  </p>
  <p>
    <%= f.label :amenities %><br>
    <%= f.text_area :amenities %></p>
 <p>
    <%= f.label :roomtype %><br>
    <%= f.text_field :roomtype %>
 </p>
<p> <%= f.submit I18n.t('views.rooms.addroom') %> </p>
<%= link_to I18n.t('views.edit'), edit_library_path(@library) %> |
<%= link_to I18n.t('views.back'), libraries_path %>
<% end %></div>
