
<% if (@library.rooms.length ==0 ) %>
 <label style="text-align:center;font-size:50px;margin-top:10%;display:inline-block;color:gold;margin-left:5%;"  >No Rooms for Selected Library </label>
<% else %>
<% (0..6).each do |j| %>
 


<table class="timestable">
  <thead>
	<tr>
		<th style="width:13%;color:chartreuse;"><%= I18n.t('views.reservations.index.date') %>: <%= (@date + j.days).strftime('%m-%d-%Y') %></th>	

		<% startdate = @date + j.days
		interval = 60
		formatstr = '%H:%M' %>

		<% (8..19).map{|offset| startdate + (offset * interval).minutes }.map{|date| date.strftime(formatstr)}.each do |k|  %>
			<th><%= k %></th>
		<% end %>
	</tr>
  </thead>
  <tbody>  	
  	<% var = 0 
	@library.rooms.each do |room| 
		var = var+1 %>
	  <tr>		
		 <td style="width:13%;"><%= I18n.t('views.room') %> <%= room.id%> (<%= room.seating_capacity%> <%= I18n.t('views.maximum')%>)</td>
		 <% (8..19).each do |i| %>
				<%if current_user %>
				<td><%= form_tag(new_reservation_path, :method => :get) do |f| %>
					<%= hidden_field_tag 'libid', room.library_id %>	
					<%= hidden_field_tag 'roomid', room.id %>
					<%= hidden_field_tag 'starttime', startdate +  i.hours %>	

					<%= hidden_field_tag 'endtime', startdate + (i+1).hours %>
					<%= hidden_field_tag 'dateres', startdate %>									
					<% x = 0	
					t = var - 1	
					k = @library.rooms.size			
					x = (i+ (12*t- 8)) + j * k * (12) %>										 					
					<% if (@list[x].count2 > 0 ) %>
					<%= submit_tag ' ', :disabled =>  true %>
					<% else %>
					<%= submit_tag ' ' %>					
					<% end %>										
				<% end %></td>
				<% else %>
				<td><%= form_tag(new_user_session_path) do |f| %>
					<%= hidden_field_tag 'libid', room.library_id %>									
					<%= submit_tag ' ' %>
				<% end %></td>	
				<% end %>
		<% end %>
	  </tr>	
	<% end %>
  </tbody>
</table>
<% end %>
<% end %>