<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> <%= I18n.t('views.reservations.resmsg4') %>:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :library_id %><br>
    <%= f.text_field :library_id,:readonly => true, value: params[:libid] %>
  </div>
  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.text_field :room_id,:readonly => true, value: params[:roomid] %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>     
	<%= f.datetime_select(:start_time, :default => { :hour => DateTime.parse(params[:starttime]).strftime('%H'), :minute => DateTime.parse(params[:starttime]).strftime('%M'), 
                                                     :day => DateTime.parse(params[:dateres]).strftime('%d')	}) %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select(:end_time, :default => { :hour => DateTime.parse(params[:endtime]).strftime('%H'), :minute => DateTime.parse(params[:starttime]).strftime('%M'),
                                                   :day => DateTime.parse(params[:dateres]).strftime('%d')	}) %>
  </div>

<div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>


  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>


  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t('views.reservations.createreservation') %>
  </div>
<% end %>
