<p id="notice"><%= notice %></p>

<h1 style="display:inline-block;"><%= I18n.t('views.reservations.index.reserve') %></h1>
<div class="dispdiv" style="display:inline-block;font-size:2em;margin-left:10%;">
<p><%= I18n.t('views.reservations.index.date') %>:
<input type="text" id="datepicker" onchange="updatedate_table()"></p>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">

<script>
     var time = new Date().getTime();
   
     
     $(document.body).bind("mousemove keypress", function(e) {
         time = new Date().getTime();
     });

     
     function refresh() {
         if(new Date().getTime() - time >= 20000) {
             window.location.reload(true);
             //document.getElementById('daterefresh').innerHTML  =   'page refreshed at' + ' ' + new Date().getTime();
            //updatedate_table();
            //document.getElementById('daterefresh').innerHTML  =   'Page refreshed at' + ' ' + new Date().getTime() - time + 'ago' ;
          // alert("page refreshed");
          }
         else 
             setTimeout(refresh, 20000);
     }

     setTimeout(refresh, 20000);
</script>

<script type="text/javascript">
var currentTime = new Date();
window.onload=function() {
document.getElementById("datepicker").value = currentTime.getDate() + "/" + (currentTime.getMonth()+1) + "/" + currentTime.getFullYear();
var today = new Date();
var h = today.getHours();
var m = today.getMinutes();
var s = today.getSeconds();

document.getElementById('daterefresh').innerHTML  =   'Page refreshed at' + ' ' +  h + ":" + m + ":" + s + "(H:M:S)";

};

function getdate() {

return document.getElementById("datepicker").value ;

}

function updatedate_table()
{
	$.ajax({url: '<%= j update_table_reservations_path %>' , data: {selected_date: getdate() }})
}


</script>

  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
    var date = $("#datepicker").text ;
  });
  </script>
<label><%= I18n.t('views.reservations.index.select') %>:</label>
<% Library.all.each do |library| %>
	<%= form_tag(root_path, :method => :get) do |f| %>
		<%= hidden_field_tag 'id', library.id %>
		<%= submit_tag library.lib_name	%>
	<% end %>
	<% end %>	
</div>




<div id="dates_table">
<%= render 'date_table' %>
</div>
<style>
#daterefresh{
  float: right;
  color: deepskyblue;
  font-size: 1.5em ;
} 
</style>
<br/>
<br/>
<div>
<label id="daterefresh"  text="test"/>
<div>
<br>
