<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('views.reservations.booking') %>:</strong>
  <%= @reservation.booking_id %>
</p>

<p>
  <strong><%= I18n.t('views.reservations.room1') %>:</strong>
  <%= @reservation.room %>
</p>

<p>
  <strong><%= I18n.t('views.reservations.library1') %>:</strong>
  <%= @reservation.library %>
</p>

<p>
  <strong><%= I18n.t('views.reservations.user1') %>:</strong>
  <%= @reservation.user %>
</p>

<p>
  <strong><%= I18n.t('views.reservations.stime') %>:</strong>
  <%= @reservation.start_time %>
</p>

<p>
  <strong><%= I18n.t('views.reservations.etime') %>:</strong>
  <%= @reservation.end_time %>
</p>

<p>
  <strong><%= I18n.t('views.reservations.title') %>:</strong>
  <%= @reservation.title %>
</p>

<p>
  <strong><%= I18n.t('views.reservations.description') %>:</strong>
  <%= @reservation.description %>
</p>

<%= link_to I18n.t('views.edit'), edit_reservation_path(@reservation) %> |
<%= link_to I18n.t('views.back'), reservations_path %>
