<%= form_for(@room, library_id: :library_id) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> <%= I18n.t('views.rooms.roommsg4') %>:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :library_id %><br>
    <%= f.collection_select(:library_id, Library.all, :id, :lib_name) %>
  </div>
  <div class="field">
    <%= f.label :seating_capacity %><br>
    <%= f.number_field :seating_capacity %>
  </div>
  <div class="field">
    <%= f.label :amenities %><br>
    <%= f.text_area :amenities %>
  </div>
  <div class="field">
    <%= f.label :roomtype %><br>
    <%= f.text_field :roomtype %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t('views.rooms.createroom')%>
  </div>
<% end %>
