<h1><%= I18n.t('views.rooms.editroom') %></h1>

<%= render 'form' %>

<td><%= link_to I18n.t('views.show'), library_room_path(@room, id: @room.id) %></td> |
<%= link_to I18n.t('views.back'), library_rooms_path %>
