<p id="notice"><%= notice %></p>

<h1><%= I18n.t('views.rooms.index.listroom') %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('views.rooms.library') %></th>
      <th><%= I18n.t('views.rooms.seating') %></th>
      <th><%= I18n.t('views.rooms.amenities') %></th>
      <th><%= I18n.t('views.rooms.roomtype') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.library %></td>
        <td><%= room.seating_capacity %></td>
        <td><%= room.amenities %></td>
        <td><%= room.roomtype %></td>
        <td><%= link_to I18n.t('views.show'), library_room_path(room, id: room.id) %></td>
        <td><%= link_to I18n.t('views.edit'), edit_library_room_path(room, id: room.id) %></td>
        <td><%= link_to I18n.t('views.destroy'), library_room_path(room, id: room.id), method: :delete, data: { confirm: I18n.t('views.sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('views.rooms.newroom'), new_library_room_path %>
