<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('views.rooms.library') %>:</strong>
  <%= @room.library %>
</p>

<p>
  <strong><%= I18n.t('views.rooms.seating') %>:</strong>
  <%= @room.seating_capacity %>
</p>

<p>
  <strong><%= I18n.t('views.rooms.amenities') %>:</strong>
  <%= @room.amenities %>
</p>

<p>
  <strong><%= I18n.t('views.rooms.roomtype') %>:</strong>
  <%= @room.roomtype %>
</p>

<%= link_to I18n.t('views.edit'), edit_library_room_path(@room, id: @room.id) %> |
<%= link_to I18n.t('views.back'), library_rooms_path(library_id: @room.library.id) %>
