/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header-banner-top .horizontal-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

body {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:white;
  font-size:12px;
  background:#191919 url(/images/classy_fabric.png);
}

.header-banner-top .horizontal-nav li {
  display: inline-block;
  height: 40px;  
}

.main-navigation{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;  
}

.main-navigation li{    
    margin-top: 20px;
}

.header-banner-top .main-navigation {
  background: #0E0E0E;
}
.header-banner-top .horizontal-nav a {
  
  color: gold;
  text-decoration: none;
  
  font-size: 20px;
  letter-spacing: 0px;
}
.header-banner-top .horizontal-nav a:hover,
.header-banner-top .horizontal-nav .active-link a {
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .header-banner-top .horizontal-nav a {
    padding: 0.75em 1em;
  }
  
  
  }

div.relative{
	position: absolute;
    text-align: right;
    
}
