body {
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  
  background-image:url(/assets/2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 100%;
	background-size:cover;
	color:white;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

input[type="submit"]:disabled {
    background: red;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.videoClass{
  position:absolute;
  top:0px;
  left:0px;
  z-index:-100;  
  width:100%;
  height:32%;
}

.headerli{
  float:right;
}

.headerli a{
  color:gold !important ;
}

.dispdiv label, .dispdiv form{
	display: inline-block;
}

.timestable thead tr th{
	display:inline-block;
	width:6.8%;
}

#comments{
	margin-left:5%;    
}

.timestable tbody tr td{
	display:inline-block;	
}

.labelclass{
  color:gold;  
  font-size:20px;  
}

.main-navigation li{
  width: 19%;  
}

.main-navigation li a {
  color:gold;
}

.timestable tbody tr td form input{	
	width:90px;
	background-color:white;
}

.timestable tbody tr td{
  width: 6.8%;
  color: gold;
}

.timestable thead tr td{
  width: 6.8%;
}

a {
  color: white;

  &:visited {
    color: white;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.nav li{
	display:inline;
	list-style:none;
	margin-right:40px;
}

.nav li a{
	color:white;
	font-size:25px;
	text-decoration:none;
}

.spanlink{
	margin-left:30%;
}

.spanlink a{
	color:white !important;
}

.body a{
	color:white !important;
}

.coststb
{
	font-size:1.5em;
	min-height:250px;
	min-width:600px;
}

.coststb tbody tr td a{
	color:white;
}
.coststb thead tr th{
	text-align:left;
}

.collapse{	
	position:absolute;
	top:0px;
	margin-bottom:20px;
	background-color:darkblue;
	width:100%;
	height:50px;
	left:0px;
}

.collapse ul{
	float:right;
}
