<p><%= I18n.t('views.devise.mailer.welcome') %><%= @email %>!</p>

<p><%= I18n.t('views.devise.mailer.msg1') %>:</p>

<p><%= link_to <%= I18n.t('views.devise.mailer.confirm') %>, confirmation_url(@resource, confirmation_token: @token) %></p>
