<p><%= I18n.t('views.devise.mailer.hello') %> <%= @resource.email %>!</p>

<p><%= I18n.t('views.devise.mailer.msg2') %>. <%= I18n.t('views.devise.mailer.msg3') %>.</p>

<p><%= link_to I18n.t('views.devise.mailer.changepwd'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t('views.devise.mailer.msg4') %>.</p>
<p><%= I18n.t('views.devise.mailer.msg5') %>.</p>
