<p><%= I18n.t('views.devise.mailer.hello') %> <%= @resource.email %>!</p>

<p><%= I18n.t('views.devise.mailer.msg6') %>.</p>

<p><%= I18n.t('views.devise.mailer.msg7') %>:</p>

<p><%= link_to <%= I18n.t('views.devise.mailer.unlock') %>, unlock_url(@resource, unlock_token: @token) %></p>
