


<!DOCTYPE html>
<html>
<head>
  <title>Roomscheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<header class="header-banner-top">
<nav class="horizontal-nav primary-wrapper" role='navigation'>
	<iframe src="http://s.codepen.io/chriscoyier/debug/PPqEde" frameborder="0" scrolling="no" class="videoClass"> </iframe>
<div class="main-navigation">
<li class="active-link" style="margin-left:5%;" >
<label class="labelclass"><%= I18n.t('views.language') %>: </label>
<%= link_to_unless I18n.locale == :en, "English", locale: :en %> |
<%= link_to_unless I18n.locale == :ru, "Russian", locale: :ru %> 

</li>
					<% if current_user %>

					<% if current_user.role == "admin" %>
					
					<li style="width:8%;" >
						<%= link_to(I18n.t('views.home'), root_path) %>
					</li>
					<li style="width:26%">
						<%= link_to I18n.t('views.add'), new_library_path %>
					</li>																			
					<li style="width:24%">
						<%= link_to I18n.t('views.manageuser'), users_path %>
					</li>					
<%end %>					
								
					<% end %>					
					
						<% if current_user %>		
	<li style="width:14%">	
		<%= link_to I18n.t('views.logout'), destroy_user_session_path, :method => :delete %>
		 </li>
</div>
	<% else %>

		<li class="headerli"><%= link_to I18n.t('views.signin'), new_user_session_path %></li>
		<li class="headerli"><a href="/en/users/sign_up"><%= I18n.t('views.devise.registrations.signup') %></a> </li>	   
			
		
	<% end %>
	
					</li>
				
			
			</nav>
			</div>
			</header>
        			
	<h1 style = "color:gold;font-size:3em;display:inline-block;margin-top:72px;width:100%;text-align:center;"><%= I18n.t('views.libraryres') %></h1>
	<% if current_user %>       
<label style="float:right;margin-top:50px;"><%= I18n.t('views.loged') %> <%= current_user.email %> </label>	
<% end %>					

<%= yield %>



</body></html>
